@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  margin-top: 60px;
}

.loader {
  border-top-color: #29a8fd;
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
